<article class="row blue companies">
    <div class="center">
        <p>Join the hundreds of drone teams already using Ascendr</p>
        <ul>
            <li class="ads"><img src="/img/hp-logos-ads.png" alt="Companies Using Ascendr" title="Companies Using Ascendr" /></li>
            <li class="insight"><img src="/img/hp-logos-insight.png" alt="Companies Using Ascendr" title="Companies Using Ascendr" /></li>
            <li class="birdseye"><img src="/img/hp-logos-birdseye.png" alt="Companies Using Ascendr" title="Companies Using Ascendr" /></li>
            <li class="vsi"><img src="/img/hp-logos-vsi.png" alt="Companies Using Ascendr" title="Companies Using Ascendr" /></li>
    </div>
</article>
