<footer>
    <div class="center">
        <aside>
            &copy; 2016 Ascendr, Inc. All Rights Reserved
        </aside>
        <nav>
            <ul>
                <li>
                    <a href="/product">Product</a>
                </li>
                <li>
                    <a href="/Blog">Blog</a>
                </li>
                <li>
                    <a href="/pricing">Pricing</a>
                </li>
                <li>
                    <a href="/team">Team</a>
                </li>
                <li>
                    <a href="/jobs">Jobs</a>
                </li>
                <li>
                    <a href="/support">Support</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
