<header id="global_header" {% if page.url == '/' %} class="transparent"{% endif %}>
    <div class="center">
        <h1>
            <a href="/">
                {% if page.url == '/' %}
                    <img src="/img/logo-white.png" alt="Ascendr" title="Ascendr" />
                {% else %}
                    <img src="/img/logo-normal.png" alt="Ascendr" title="Ascendr" />
                {% endif %}
            </a>
        </h1>
        <nav id="global_nav">
            <ul>
                <li {% if page.url == "/product/" %} class="active" {% endif %}>
                    <a href="/product/">Product</a>
                </li>
                <li {% if page.url == "/enterprise/" %} class="active" {% endif %}>
                    <a href="/enterprise/">Enterprise</a>
                </li>
                <!-- <li {% if page.url contains "/blog/" %} class="active" {% endif %}>
                    <a href="/blog/">Blog</a>
                </li> -->
                <li>
                    <a href="https://app.ascendr.com">Sign In</a>
                </li>
                <li>
                    <a href="/try/" class="cta">Pricing &amp; Signup</a>
                </li>
            </ul>
        </nav>
        <button id="menu"></button>
    </div>
</header>
