<article class="row signup">
    <div class="center">
        <section>
            <h2>It's go time!</h2>
            <p>
                Try Ascendr and see for yourself what the <strong>#1 drone operations management platform</strong> can do for your business!
            </p>
        </section>
        {% include _signup_form.erb %}
    </div>
</article>
