<form id="try-ascendr">
    <label for="email">Get Started Today for Free!</label>
    <input type="email" placeholder="Enter your work email address" name="email" id="email" />
    <button type="submit" class="cta">Lets Fly!</button>
</form>
