<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Take a closer look and see the product in action</h2>
                <hr class="light">
                <p class="text-faded">Ascendr is an enterprise drone management platform. We are the growth enabler in the UAS tech stack &mdash; powering your operations at scale.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
