<!DOCTYPE html>
<html lang="en">
   <head>
     {% include _head.erb %}
   </head>
   <body {% if page.id %}id="{{page.id}}"{% endif %}>
       {% include _header.erb %}
       {{ content }}
       {% include _footer.erb %}
   </body>
   {% include _scripts.erb %}
</html>
